@{
    ViewData["Title"] = "Hesperia Home";
    Layout = "~/Views/Shared/_Layout_Hesperia.cshtml";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome to the Hesperia Label Station</h1>
</div>
