@{
    ViewData["Title"] = "Juarez Home";
    Layout = "~/Views/Shared/_Layout_Juarez.cshtml";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome to the Juarez Label Station</h1>
</div>
