html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.card {
    transition: 300ms ease-in-out;
}

.card:hover {
    transform: scale(1.1);   
}

img {
    width: 95%;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* Optional: You can adjust the margin as needed */
}
