@model LabelStation.Models.FlowerPots

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Hudson.cshtml";
}

<h1 class="mt-5">Create</h1>

<h4>FlowerPots</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PotNumber" class="control-label"></label>
                <input asp-for="PotNumber" class="form-control" />
                <span asp-validation-for="PotNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PotDescription" class="control-label"></label>
                <input asp-for="PotDescription" class="form-control" />
                <span asp-validation-for="PotDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentPartPacking" class="control-label"></label>
                <input asp-for="ParentPartPacking" class="form-control" />
                <span asp-validation-for="ParentPartPacking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartNumber" class="control-label"></label>
                <input asp-for="PartNumber" class="form-control" />
                <span asp-validation-for="PartNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPC" class="control-label"></label>
                <input asp-for="UPC" class="form-control" />
                <span asp-validation-for="UPC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="form-label">Select A or B</label>
                <select asp-for="Label" class="form-control">
                    <option value="">Select To Print</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                </select>
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Print" class="control-label"></label>
                <input asp-for="Print" value="No" class="form-control" readonly />
                <span asp-validation-for="Print" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrintQuantity" class="control-label"></label>
                <input asp-for="PrintQuantity" value="1" class="form-control" readonly />
                <span asp-validation-for="PrintQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-2" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
