<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LabelStation</title>
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.lumen.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LabelStation.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Label Station</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">                        
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Hudson">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Shipping
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Wlabels" asp-action="Create">W Labels</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="RWlabels" asp-action="Create">RW Labels</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="SkuCards" asp-action="Create">SKU Card</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Receiving
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Plabels" asp-action="Create">P Labels</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="RailCars" asp-action="Create">Rail Car LP</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="BULabels" asp-action="Index">Backup Labels</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="FlowerPots" asp-action="Index">Flower Pots</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Kanban
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Kanbans" asp-action="Index">Edit Kanban</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Kanbans" asp-action="EditList">Print Multiple</a></li>                                
                            </ul>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="PWPLabels" asp-action="Create">PWP Labels</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                PWP Setup
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="ItemNumbers" asp-action="Index">Manage Items</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Associates" asp-action="Index">Manage Associates</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Reprints" asp-action="Create">Reprint LP</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <br />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-primary text-light">
        <div class="container">
            &copy; 2022 - LabelStation - MGA Entertainment
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui-1.13.2.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
@*    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.7/jquery.validate.unobtrusive.min.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "mm/dd/yy",
                yearRange: "-01:+05"
            });
        });

        $(document).ready(function () {
            $('#setCodes').click(function () {
                var months = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L'];
                var partA = $('#selectedDate').val();
                var newDate = new Date(partA);
                var year = newDate.getFullYear();
                year = year.toString().substr(-2);
                var month = months[newDate.getMonth()];
                var date = newDate.getDate();
                $('#codePartA').val(year);                                
                $('#codePartB').val(month);
                $('#codePartC').val(date);
            });
        });
        $(document).ready(function () {
            $('#searchBtn').click(function () {
                var searchText = $('#searchText').val();
                searchText = searchText.toUpperCase().trim();
                $('.item').val(searchText);
            });
        });
        $(document).ready(function () {
            $('#clearBtn').click(function () {
                $('#searchText').val("");
            });
        });
        $(document).ready(function () {
            $('#ddlOption1').change(function () {
                var selectedValue = $(this).val();
                $.ajax({
                    url: '/SkuCards/GetOptions',
                    type: 'POST',
                    data: { option1Value: selectedValue },
                    success: function (data) {
                        $('#ddlOption2').html('');
                        $.each(data, function (index, option) {
                            $('#ddlOption2').append($('<option></option>').val(option.text).html(option.value));
                        });
                    }
                });
            });
        });
    </script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


