@model LabelStation.Models.ScanLabel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Hudson.cshtml";
}

<h1 class="mt-5">Edit File Name</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScanLabelId" />
            <div class="form-group">
                <label asp-for="ItemNumber" class="control-label"></label>
                <input asp-for="ItemNumber" class="form-control" readonly />
                <span asp-validation-for="ItemNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDescription" class="control-label"></label>
                <input asp-for="ItemDescription" class="form-control" readonly />
                <span asp-validation-for="ItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarryHeight" class="control-label"></label>
                <input asp-for="CarryHeight" class="form-control" />
                <span asp-validation-for="CarryHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StackHeight" class="control-label"></label>
                <input asp-for="StackHeight" class="form-control" />
                <span asp-validation-for="StackHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrintLabel" class="form-label"></label>
                <input asp-for="PrintLabel" class="form-control" readonly />                
                <span asp-validation-for="PrintLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageLocation" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-text">\\10.216.255.32\share\SharedDatabases\Fleet\perfmodl\ScanImages\</span>
                    <input asp-for="ImageLocation" class="form-control" value="@Model.ImageLocation?.Replace(@"\\10.216.255.32\share\SharedDatabases\Fleet\perfmodl\ScanImages\", "")" />
                </div>
                <span asp-validation-for="ImageLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-2" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
