@model LabelStation.Models.RailCar

@{
    ViewData["Title"] = "RailCar LP";
    Layout = "~/Views/Shared/_Layout_Hudson.cshtml";
}

<h1 class="mt-5">Print Rail Car LP</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarNumber" class="control-label">Rail Car Number</label>
                <input id="CustSr_Txt" asp-for="CarNumber" class="form-control" onkeyup="UcaseTxt(this)" maxlength="10" placeholder="Enter Rail Car Number" />
                <span asp-validation-for="CarNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemNumber" class="control-label">Item Number</label>
                <input id="CustSr_Txt" asp-for="ItemNumber" class="form-control" onkeyup="UcaseTxt(this)" maxlength="10" placeholder="Enter Item Number" />
                <span asp-validation-for="ItemNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Print" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger mt-2" asp-controller="Home" asp-action="Hudson">Cancel</a>
</div>

<script language="javascript">
    function UcaseTxt(UpCstr) {
        var UCStr = UpCstr.value
        UpCstr.value = UCStr.toUpperCase()
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
