@model LabelStation.Models.Reprint

@{
    ViewData["Title"] = "Reprints";
    Layout = "~/Views/Shared/_Layout_Hudson.cshtml";
}
<br />
<h1 class="mt-5">Re-print a License</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LPNumber" class="control-label">License Number</label>
                <input id="Reprint_LP" asp-for="LPNumber" class="form-control" onkeyup="ReprintUCase(this)" maxlength="9" placeholder="Enter LP Number"/>
                <span asp-validation-for="LPNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrinterName" class="form-label">Printer Name</label>
                <select asp-for="PrinterName" class="form-control">
                    <option value="">Select Printer</option>
                    <option value="Bartender_ReworkZM4Plus">Rework LP Printer</option>
                    <option value="HJ308_Clerks">HJ308 Clerks Office</option>
                    <option value="HJ310_Clerks">HJ310 Clerks Office</option>
                    <option value="Bartender_RCV">Receiving Zebra</option>
                </select>
                <span asp-validation-for="PrinterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Print" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Hudson" class="btn btn-danger mt-2">Cancel</a>
</div>

<script language="javascript">
    function ReprintUCase(RailUp) {
        var RailUpper = RailUp.value
        RailUp.value = RailUpper.toUpperCase()
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
