@model LabelStation.Models.ItemNumber

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Juarez.cshtml";
}

<h1 class="mt-5">Create</h1>

<h4>Add Item Number</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create_Juarez">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item" class="control-label">Item Number</label>
                <input asp-for="Item" class="form-control" placeholder="Enter new Item" />
                <span asp-validation-for="Item" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-2" asp-action="Index_Juarez">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
