@model LabelStation.Models.BULabel

@{
    ViewData["Title"] = "Reprint " + Model.ItemNumber;
    Layout = "~/Views/Shared/_Layout_Juarez.cshtml";
}

<h1 class="mt-5">Re-Print Backup Label for @Model.ItemNumber</h1>

<h4>@Model.ItemDescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BackupReprint_Juarez">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ItemNumber" class="control-label"></label>
                <input asp-for="ItemNumber" class="form-control" readonly/>
                <span asp-validation-for="ItemNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDescription" class="control-label"></label>
                <input asp-for="ItemDescription" class="form-control" readonly/>
                <span asp-validation-for="ItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Print" class="form-label">Set By Default</label>
                <input asp-for="Print" value="No" class="form-control" readonly/>
                <span asp-validation-for="Print" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Standard" class="control-label"></label>
                <input asp-for="Standard" class="form-control" readonly/>
                <span asp-validation-for="Standard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Set By Default</label>
                <input asp-for="Quantity" class="form-control" value="1" readonly />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LPNumber" class="control-label text-danger">Enter LP Numbers ONLY-JC will be added</label>
                <input asp-for="LPNumber" class="form-control" maxlength="7" />
                <span asp-validation-for="LPNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsReprint" class="form-label">This is Auto Set on Reprint</label>
                <input asp-for="IsReprint" value="Yes" class="form-control" readonly />
                <span asp-validation-for="IsReprint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prefix" class="form-label">Set By Default</label>
                <input asp-for="Prefix" value="JC" class="form-control" readonly />
                <span asp-validation-for="Prefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrinterName" class="form-label">Set By Default</label>
                <input asp-for="PrinterName" value="Juarez_LP" class="form-control" readonly />
                <span asp-validation-for="PrinterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Re-Print Label" class="btn btn-danger mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-2" asp-action="Index_Juarez">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
