@model LabelStation.ViewModels.ItemNumberViewModel

@{
    ViewData["Title"] = "Backup Labels";
}

<h1 class="mt-5">Print Receiving's LP Label</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BULabel.Print" class="control-label"></label>
                <input asp-for="BULabel.Print" class="form-control" placeholder="Enter Amount to Print" />
                <span asp-validation-for="BULabel.Print" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BULabel.Item" class="control-label">Item Number</label>
                @Html.DropDownListFor(m => m.BULabel.Item, new SelectList(Model.ItemNumbers, "ID", "Item"), "Select Item", new {@class="form-control"})
                <span asp-validation-for="BULabel.Item" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BULabel.ItemDesc" class="control-label">Item Description</label>
                <input asp-for="BULabel.ItemDesc" class="form-control" />
                <span asp-validation-for="BULabel.ItemDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BULabel.Quantity" class="control-label"></label>
                <input asp-for="BULabel.Quantity" class="form-control" />
                <span asp-validation-for="BULabel.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BULabel.Standard" class="control-label"></label>
                <input asp-for="BULabel.Standard" class="form-control" />
                <span asp-validation-for="BULabel.Standard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Print" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger mt-2" asp-controller="Home" asp-action="Index">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
